<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Date and Time</title>
    </head>
    <body>
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <p>
               The current time and date: 
            </p>
           @{
            DateTime dt = DateTime.Now;
            string str1 = dt.ToString("MMM dd, yyyy");
            string str2 = dt.ToString("hh:mm tt");
            <h1 style="border: solid black 1px; padding: 15px; align-text: center;">
                @str1
                <br>
                @str2
            </h1>
            } 
        </div>
        
        
    </body>
</html>